h1 { margin-right: 10px; color: orange; }

#global{
    width:100%;
}
#droite, #gauche {
    display: inline-block;
    vertical-align: top;
}

#global #gauche {
    float:left;
}

#mapid { height: 500px; }