h1 {
    margin-right: 10px;
    color: orange;
}

h4, input{
    display: inline;
}

#global {
    width: 100%;
}

#gauche {
    display: inline-block;
}

#droite, #gauche {
    vertical-align: top;
}

#global #gauche, #gaucheGlobal {
    float: left;
}

#gaucheGlobal {
    width: 20vw;
}

#mapid {
    height: 80vh;
    width: 75vw;
}

#btn-valid {
    width: 20vw;
}

#startDate, #endDate, #lsd, #led {
    width: 9vw;
}

#header {
    height: 15vh;
}