<!DOCTYPE html>

<html>
<head>
    <title>FoodTruck Locator</title>
    <style type="text/css"></style>
    <link rel="stylesheet" href="css/mystyle.css"/>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.css"/>
    <link rel="icon" href="foodtruck.png"/>
</head>
<body>
<div id="header">
    <h1 align="center">FoodTruck and Bixi Locator</h1>
    <h2>Recherche</h2>
</div>
<form>
    <div id="global">
        <div id="gaucheGlobal">
            <div id="gauche">
                <legend id="lsd" for="startDate">Date debut :</legend>
                <legend id="led" for="endDate">Date fin :</legend>
            </div>

            <div id="droite">
                <input type="date" id="startDate"/>
                <input type="date" id="endDate"/>
            </div>
            <button id="btn-valid">Rechercher</button>
        </div>
        <div id="droiteGlobal">
            <div id='mapid' class='map'></div>
        </div>
    </div>
</form>
<script src="http://cdn.leafletjs.com/leaflet/v0.7.7/leaflet.js"></script>
<script src="js/main.js"></script>
</body>
</html>
